@import "../../sass/variables";

.icon-and-text {
  display: flex;
  gap: 6px;
  color: #fff;
  align-items: center;
  span {
    font-size: $font-sm-0;
  }
}

.footer__nav-links .icon-and-text {
  gap: 13px;
  span {
    font-size: $font-sm-3;
  }
}
